{% extends 'base.html' %}

{% block content %}
    <div class="grid grid-cols-2">
        <div>
            <form action="/index" method="POST">
                <div class="mb-6">
                    <label for="session_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Session name</label>
                    <input type="input" id="session_name" name="session_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                </div>
                <div class="mb-6">
                    <label for="required_area" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Required area</label>
                    <input type="input" id="required_area" name="required_area" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                </div>
                <div class="mb-6">
                    <label for="amount_layers" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount Layers</label>
                    <input type="input" id="amount_layers" name="amount_layers" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Calculate</button>
            </form>
        </div>
        <div>
            <div class="bg-gray-200 m-6 p-6 rounded-lg">
                <p class="font-bold text-lg">Calculation</p>
                <p class="pb-6"><span class="font-bold">Project: </span>{{ session_name }}</p>
                <p><span class="font-bold">Amount carbon fiber: </span>{{ area }}</p>
                <p><span class="font-bold">Amount resin: </span>{{ resin }}</p>
                <p><span class="font-bold">Amount hardner: </span>{{ hardner }}</p>
                <p><span class="font-bold">Total cost: </span>{{ cost }}</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Saved Calculations</h2>
        {% for session in session_data %}
            <li>{{ session.session_name }} - {{ session.area }} - {{ session.layers }} - {{ session.amount_resin }} - {{ session.amount_hardner }}</li>
        {% endfor %}
    </div>
{% endblock %}